doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
    //- script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
    script(src="/js/modal.js" )
    script(src="/js/filter.js" )
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='/css/modal.css')    
    link(rel='stylesheet' href='/css/sidebar.css')
    link(rel='stylesheet' href='/css/dashboard.css')
    link(rel='stylesheet' href='/css/cards.css')
    link(rel='stylesheet' href='/css/misc.css')
    link(rel='stylesheet' href='/css/form.css')
    link(rel='stylesheet' href='/css/components.css')
  body
    div(class='container')
      div(class='layout')
        div(class='sidebar')
          block sidebar
            ul(class='sidebar-list')
              li 
                a(href='/') Home
              li 
                a(href='/books') All books
              li 
                a(href='/authors') All authors
              li 
                a(href='/genres') All genres
              li 
                a(href='/book-instances') All book-instances
              br
              li 
                a(href='/authors/create') Create new author
              li 
                a(href='/genres/create') Create new genre
              li 
                a(href='/books/create') Create new book
              li 
                a(href='/book-instances/create') Create new book instance (copy)
              br
              li 
                a(href='/auth/signup') Signup 
              li 
                a(href='/auth/login') Login 
              li 
                a(href='/auth/logout') Logout                   

        div(class='col-sm-10')
          block content
