.card {
  margin: auto;
  text-align: center;
  background-color: var(--color-bg-secondary);
  width: 15rem;
  height: 24rem;
  border-radius: var(--card-border-radius);
}
.card:hover {
  box-shadow: var(--card-shadow);
}

.card .thumbnail {
  object-fit: cover;
  height: 12rem;
  border-top-right-radius: var(--card-border-radius);
  border-top-left-radius: var(--card-border-radius);
  width: -moz-available;
}

.card-title {
  font-weight: bold;
  margin: 0.4rem;
}
